$white: #FFF;
$black: #222;
$gray1: #2b2b2b;
$gray2: #4e4e4e;
$gray3: #888888;
$gray4: #cacaca;

$neon-blue: rgb(44, 200, 248);
$neon-pink: rgb(255, 65, 208);
$neon-yellow: rgb(217, 255, 0);
$neon-green: rgb(0, 255, 106);
$neon-purple: rgb(212, 0, 255);
$neon-orange: rgb(252, 121, 61);
$neon-red: rgb(255, 34, 71);