@use './vars.scss';

$mainColor: darken(vars.$blue, 5%);
$hoverColor: vars.$blue;
$activeColor: lighten(vars.$blue, 5%);

.music-section {
    .music-nav {
        margin-bottom: 1em;

        a,
        a:link,
        a:active {
            display: inline-block;
            border: 2px solid $mainColor;
            color: $mainColor;
            background-color: vars.$white;
            padding: 0.3em 0.5em;
            margin-right: 1em;
            font-size: 0.8em;
            line-height: 0.8em;
            text-transform: uppercase;

            &:hover {
                background-color: $hoverColor;
                color: vars.$white;
                text-decoration: none;
            }
        }
    }
}