@use '../../vars.scss';

.key-page {

    .notes,
    .chords {
        margin: 1em 0;
    }

    .notes {
        table {

            th {
                border-bottom: 1px solid vars.$black;
            }

            td,
            th {
                min-width: clamp(0px, 3vw, 2em);
                text-align: center;
            }

            td:not(:first-of-type),
            th:not(:first-of-type) {
                padding: 0 0.5em;
                border-left: 1px solid vars.$black;
            }

            td:first-of-type,
            th:first-of-type {
                padding-right: 0.5em;
            }
        }
    }
}