@use 'sass:math';
@use './colors.scss';

@mixin rainbow($textColor, $color1, $color2, $color3, $stage) {
    @if $stage ==1 {
        text-shadow:
            0 0 2px transparentize($textColor, 1),
            -1px 1px 2px transparentize($color1, 1),
            1px 1px 2px transparentize($color2, 1),
            1px -1px 2px transparentize($color3, 1)
    }

    @else if $stage ==2 {
        text-shadow:
            0 0 2px transparentize($textColor, 1),
            -1px 1px 2px transparentize($color1, 1),
            1px 1px 2px transparentize($color2, 1),
            1px -1px 2px transparentize($color3, 0)
    }

    @else if $stage ==3 {
        text-shadow:
            0 0 2px transparentize($textColor, 1),
            -1px 1px 2px transparentize($color1, 1),
            1px 1px 2px transparentize($color2, 0),
            1px -1px 2px transparentize($color3, 0)
    }

    @else if $stage ==4 {
        text-shadow:
            0 0 2px transparentize($textColor, 1),
            -1px 1px 2px transparentize($color1, 0),
            1px 1px 2px transparentize($color2, 0),
            1px -1px 2px transparentize($color3, 0)
    }

    @else {
        text-shadow:
            0 0 2px transparentize($textColor, 0),
            -1px 1px 2px transparentize($color1, 0),
            1px 1px 2px transparentize($color2, 0),
            1px -1px 2px transparentize($color3, 0)
    }
}

$text: colors.$black;
$clr1: colors.$neon-pink;
$clr2: colors.$neon-blue;
$clr3: colors.$neon-yellow;

@keyframes rainbowFade {
    0% {
        @include rainbow($text, $clr1, $clr2, $clr3, 1);
    }

    5% {
        @include rainbow($text, $clr1, $clr2, $clr3, 2);
    }

    10% {
        @include rainbow($text, $clr1, $clr2, $clr3, 3);
    }

    20% {
        @include rainbow($text, $clr1, $clr2, $clr3, 4);
    }

    30% {
        @include rainbow($text, $clr1, $clr2, $clr3, 5);
    }

    60% {
        @include rainbow($text, $clr1, $clr2, $clr3, 5);
    }

    70% {
        @include rainbow($text, $clr1, $clr2, $clr3, 4);
    }

    80% {
        @include rainbow($text, $clr1, $clr2, $clr3, 3);
    }

    85% {
        @include rainbow($text, $clr1, $clr2, $clr3, 2);
    }

    90% {
        @include rainbow($text, $clr1, $clr2, $clr3, 1);
    }

    100% {
        @include rainbow($text, $clr1, $clr2, $clr3, 1);
    }
}